<template>
  <div>
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Rol</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <div class="content container-fluid">
      <div class="card">

        <div class="card-header">
          <div class="card-tools">
            <router-link class="btn btn-info btn-sm" :to="'/usuario/crear'">
              <i class="fas fa-plus-square"></i> Nuevo Rol
            </router-link>
          </div>
        </div>

        <div class="card-body">
          <div class="container-fluid">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title"> Criterios de Búsqueda</h3>
              </div>
              <div class="card-body">
                <form action="" role="form">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label">Nombre</label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" v-model="fillBsqRol.cNombre" @keyup.enter="getListarRoles">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label">Url Amigable</label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" v-model="fillBsqRol.cSlug" @keyup.enter="getListarRoles">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <div class="row">
            <div class="col-md-4 offset-4">
              <button class="btn btn-flat btn-info btnWidth" @click.prevent="getListarRoles"
              v-loading.fullscreen.lock="fullscreenLoading">Buscar</button>
              <button class="btn btn-flat btn-default btnWidth" @click.prevent="limpiarCriteriosBsq">Limpiar</button>
            </div>
          </div>
        </div>

        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Bandeja de resultados</h3>
          </div>
          <div class="card-body table-responsive">
            <template v-if="listarRolesPaginados.length">
              <table class="table table-hover table-head-fixed text-nowrap projects">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Url Amigable</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in listarRolesPaginados" :key="index">
                      <th v-text="item.name"></th>
                      <th v-text="item.slug"></th>
                      <td>
                        <router-link class="btn btn-flat btn-primary btn-sm" :to="{ name: 'usuario.ver', params: { id: item.id }}">
                          <i class="fas fa-folder"></i> Ver
                        </router-link>
                        <router-link class="btn btn-flat btn-info btn-sm" :to="{ name: 'usuario.editar', params: { id: item.id }}">
                          <i class="fas fa-pencil-alt"></i> Editar
                        </router-link>
                      </td>
                    </tr>
                  </tbody>
              </table>
              <div class="card-footer clearfix">
                  <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item" v-if="pageNumber > 0">
                      <a href="#" class="page-link" @click.prevent="prevPage">Ant</a>
                    </li>
                    <li class="page-item" v-for="(page, index) in pageList" :key="index" 
                      :class="[page == pageNumber ? 'active' : '']">
                      <a href="#" class="page-link" @click.prevent="selectPage(page)">{{ page+1 }}</a>
                    </li>
                    <li class="page-item" v-if="pageNumber < pageCount - 1">
                      <a href="#" class="page-link" @click.prevent="nextPage">Post</a>
                    </li>
                  </ul>
              </div>
            </template>
            <template v-else>
              <div class="callout callout-info">
                <h5>No se encontraron reultados...</h5>
              </div>
            </template>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return{
        fillBsqRol: {
          cNombre: '',
          cSlug: '',
        },
        listRoles: [],
        fullscreenLoading: false,
        pageNumber: 0,
        perPage: 5
      }
    },
    computed: {
      //obtener el número de páginas
      pageCount(){
        let a = this.listRoles.length,
            b = this.perPage;
        return Math.ceil(a / b); 
      },
      //Obtener registros paginados
      listarRolesPaginados(){
        let inicio = this.pageNumber * this.perPage,
            fin = inicio + this.perPage;
        return this.listRoles.slice(inicio, fin);
      },
      pageList(){
        let a = this.listRoles.length,
            b = this.perPage;
        let pageCount = Math.ceil(a / b);
        let count = 0,
        pagesArray = [];

        while(count < pageCount){
          pagesArray.push(count);
          count++;
        }
        return pagesArray;
      }
    },
    methods: {
      limpiarCriteriosBsq(){
        this.fillBsqRol.cNombre = '';
        this.fillBsqRol.cSlug = '';
      },
      limpiarBandejaUsuarios(){
        this.listRoles = [];
      },
      getListarRoles(){
        this.fullscreenLoading = true;
        const url = '/administracion/rol/getListarRoles';
        axios.get(url, {
          params: {
            'cNombre': this.fillBsqRol.cNombre,
            'cSlug': this.fillBsqRol.cSlug,
          }
        }).then(response => {
          this.inicializarPaginacion();
          this.listRoles = response.data;
          this.fullscreenLoading = false;
        })
      },
      nextPage(){
        this.pageNumber++;
      },
      prevPage(){
        this.pageNumber--;
      },
      selectPage(page){
        this.pageNumber = page;
      },
      inicializarPaginacion(){
        this.pageNumber = 0;
      },
    }
  }
</script>

<style>

</style>