<template>
    <div>
        <!-- Navbar -->
        <Navbar :ruta="ruta"></Navbar>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <Sidebar :ruta="ruta"></Sidebar>
        <!-- / .main Sidebar Container -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <transition name="slide-fade">
                <router-view></router-view>
            </transition>
        </div>
        <!-- /.content-wrapper -->

        <Footer></Footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
</template>

<script>
    import Navbar from './plantilla/Navbar.vue';
    import Sidebar from './plantilla/Sidebar.vue';
    import Footer from './plantilla/Footer.vue';
    export default {
        props: ['ruta'],
        components: { Navbar, Sidebar, Footer }
    }
</script>

<style>

</style>