<template>
    <div>
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Editar Usuario</h1>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>

      <div class="content container-fluid">
        <div class="card">

          <div class="card-header">
            <div class="card-tools">
              <router-link class="btn btn-info btn-sm" :to="'/usuario'">
                <i class="fas fa-arrow-left"></i> Regresar
              </router-link>
            </div>
          </div>

          <div class="card-body">
            <div class="container-fluid">
              <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">Formulario Editar Usuario</h3>
                </div>
                <div class="card-body">
                  <form action="" role="form">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label">Primer Nombre</label>
                          <div class="col-md-9">
                            <input type="text" class="form-control" v-model="fillEditarUsuario.cPrimerNombre" @keyup.enter="setRegistrarUsuario">
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label">Segundo Nombre</label>
                          <div class="col-md-9">
                            <input type="text" class="form-control" v-model="fillEditarUsuario.cSegundoNombre" @keyup.enter="setRegistrarUsuario">
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label">Usuario</label>
                          <div class="col-md-9">
                            <input type="text" class="form-control" v-model="fillEditarUsuario.cUsuario" @keyup.enter="setRegistrarUsuario">
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label">Correo Electrónico</label>
                          <div class="col-md-9">
                            <input type="text" class="form-control" v-model="fillEditarUsuario.cCorreo" @keyup.enter="setRegistrarUsuario">
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label">Apellido</label>
                          <div class="col-md-9">
                            <input type="text" class="form-control" v-model="fillEditarUsuario.cApellido" @keyup.enter="setRegistrarUsuario">
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label">Contraseña</label>
                          <div class="col-md-9">
                            <el-input placeholder="Ingrese contraseña" v-model="fillEditarUsuario.cContrasena" 
                            @keyup.enter="setRegistrarUsuario" show-password></el-input>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label">Fotografía</label>
                          <div class="col-md-9">
                            <input type="file" class="form-control" @change="getFile">
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="row">
              <div class="col-md-4 offset-4">
                <button class="btn btn-flat btn-info btnWidth" @click.prevent="setEditarUsuario"
                v-loading.fullscreen.lock="fullscreenLoading">Editar</button>
                <button class="btn btn-flat btn-default btnWidth" @click.prevent="limpiarCriterios">Limpiar</button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="modal fade" :class="{ show: modalShow }" :style="modalShow ? mostrarModal : ocultarModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">titulo</h5>
                    <button class="close" @click="abrirModal"></button>
                </div>
                <div class="modal-body">
                    <div class="callout callout-danger" style="padding: 5px;" v-for="(item, index) in mensajeError" :key="index" v-text="item"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @click="abrirModal">Cerrar</button>
                </div>
            </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
      data(){
        return{
          fillEditarUsuario: {
            nIdUsuario: this.$attrs.id,
            cPrimerNombre: '',
            cSegundoNombre: '',
            cUsuario: '',
            cCorreo: '',
            cApellido: '',
            cContrasena: '',
            oFotografia: ''
          },
          form: new FormData,
          fullscreenLoading: false,
          modalShow: false,
          mostrarModal: {
            display: 'block',
            background: '#0000006b'
          },
          ocultarModal: {
            display: 'none'
          },
          error: 0,
          mensajeError: [],
        }
      },
      mounted(){
        this.getUsuarioById();
      },
      methods: {
        getUsuarioById(){
            this.fullscreenLoading = true;
            const url = '/administracion/usuario/getListarUsuarios';
            axios.get(url, {
                params: {
                    'nIdUsuario': this.fillEditarUsuario.nIdUsuario,
                    'cNombre': '',
                    'cUsuario': '',
                    'cCorreo': '',
                    'cEstado': '',
                }
            }).then(response => {
                console.log(response.data);
                this.fillEditarUsuario.cPrimerNombre = response.data[0].firstname;
                this.fillEditarUsuario.cSegundoNombre = response.data[0].secondname;
                this.fillEditarUsuario.cApellido = response.data[0].lastname;
                this.fillEditarUsuario.cUsuario = response.data[0].username;
                this.fillEditarUsuario.cCorreo = response.data[0].email;
                this.fullscreenLoading = false;
            })
        },
        limpiarCriterios(){
          this.fillEditarUsuario.cPrimerNombre = '';
          this.fillEditarUsuario.cSegundoNombre = '';
          this.fillEditarUsuario.cApellido = '';
          this.fillEditarUsuario.cUsuario = '';
          this.fillEditarUsuario.cCorreo = '';
          this.fillEditarUsuario.cContrasena = '';
          this.fillEditarUsuario.oFotografia = '';
        },
        abrirModal(){
            this.modalShow = !this.modalShow;
        },
        getFile(e){
            this.fillEditarUsuario.oFotografia = e.target.files[0];
        },
        setEditarUsuario(){
            if(this.validarRegistroUsuario()){
                this.modalShow = true;
                return;
            }
            this.fullscreenLoading = true;
            if(!this.fillEditarUsuario.oFotografia || this.fillEditarUsuario.oFotografia == undefined){
              this.setGuardarUsuario(1);
            }else{
              this.setRegistrarArchivo();
            }
        },
        setRegistrarArchivo(){
          this.form.append('file', this.fillEditarUsuario.oFotografia);
          const config = { headers: { 'Content-Type': 'multipart/form-data' }};
          const url = '/archivo/setRegistrarArchivo';
          axios.post(url, this.form, config).then( response => {
            const nIdFile = response.data[0].nIdFile;
            this.setGuardarUsuario(nIdFile);
          })
        },
        setGuardarUsuario(nIdfile){
          const url = '/administracion/usuario/setEditarUsuario';
          axios.post(url, {
            'nIdUsuario': this.fillEditarUsuario.nIdUsuario,
            'cPrimerNombre': this.fillEditarUsuario.cPrimerNombre,
            'cSegundoNombre': this.fillEditarUsuario.cSegundoNombre,
            'cApellido': this.fillEditarUsuario.cApellido,
            'cUsuario': this.fillEditarUsuario.cUsuario,
            'cCorreo': this.fillEditarUsuario.cCorreo,
            'cContrasena': this.fillEditarUsuario.cContrasena,
            'oFotografia': nIdfile,
          }).then( response => {
            this.fullscreenLoading = false;
            Swal.fire({
                icon: 'success',
                title: 'Se actualizó el usuario correctamente',
                showConfirmButton: false,
                timer: 1500
            })
          })
        },
        validarRegistroUsuario(){
            this.error = 0;
            this.mensajeError = [];
            if(!this.fillEditarUsuario.cPrimerNombre){
                this.mensajeError.push('El primer nombre es un campo obligatorio!')
            }
            if(!this.fillEditarUsuario.cApellido){
                this.mensajeError.push('El apellido es un campo obligatorio!')
            }
            if(!this.fillEditarUsuario.cUsuario){
                this.mensajeError.push('El usuario es un campo obligatorio!')
            }
            if(!this.fillEditarUsuario.cCorreo){
                this.mensajeError.push('El correo es un campo obligatorio!')
            }
            if(this.mensajeError.length){
                this.error = 1;
            }
            return this.error;
        },
      }
    }
</script>

<style>

</style>