<template>
    <div>
        <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Usuario</h1>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>

      <div class="content container-fluid">
        <div class="row">
            <div class="col-md-4">
                <!-- Profile image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <template v-if="!fillVerUsuario.cRutaArchivo">
                                <img src="/img/avatar.png" alt="User profile picture" class="profile-user-img img-fluid img-circle img-max-height">
                            </template>
                            <template v-else>
                                <img :src="fillVerUsuario.cRutaArchivo" :alt="cGetNombreCompleto" class="profile-user-img img-fluid img-circle img-max-height">
                            </template>
                        </div>
                        <h3 class="profile-username text-center"> {{ cGetNombreCompleto }} </h3>
                        <p class="text-muted text-center"> Vendedor</p>
                        
                    </div>
                </div>

                <!-- About Me Box-->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Sobre mi</h3>
                    </div>

                    <div class="card-body">
                        <strong><i class="fas fa-mailchimp"> Nombre Completo</i></strong>
                        <p class="text-muted" v-text="cGetNombreCompleto"></p>
                        <hr>
                        <strong><i class="fas fa-envelope-open-text"></i> Correo Electrónico</strong>
                        <p class="text-muted" v-text="fillVerUsuario.cCorreo"></p>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills position-reverse">
                        <li class="nav-item">
                            <router-link class="nav-link active" :to="'/usuario'">
                                <i class="fas fa-arrow-left"></i>Regresar
                            </router-link>
                        </li>
                    </ul>
                </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="settings">
                                <form class="form-horizontal">
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Primer Nombre</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" v-model="fillEditarUsuario.cPrimerNombre" @keyup.enter="setRegistrarUsuario">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail" class="col-sm-2 col-form-label">Segundo Nombre</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" v-model="fillEditarUsuario.cSegundoNombre" @keyup.enter="setRegistrarUsuario">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName2" class="col-sm-2 col-form-label">Apellido</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" v-model="fillEditarUsuario.cApellido" @keyup.enter="setRegistrarUsuario">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputExperience" class="col-sm-2 col-form-label">Usuario</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" v-model="fillEditarUsuario.cUsuario" @keyup.enter="setRegistrarUsuario">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputSkills" class="col-sm-2 col-form-label">Correo Electrónico</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" v-model="fillEditarUsuario.cCorreo" @keyup.enter="setRegistrarUsuario">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputSkills" class="col-sm-2 col-form-label">Contraseña</label>
                                    <div class="col-md-9">
                                        <el-input placeholder="Ingrese contraseña" v-model="fillEditarUsuario.cContrasena" 
                                        @keyup.enter="setRegistrarUsuario" show-password></el-input>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputSkills" class="col-sm-2 col-form-label">Fotografía</label>
                                    <div class="col-md-9">
                                        <input type="file" class="form-control" @change="getFile">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-flat btn-info btnFull" @click.prevent="setEditarUsuario"
                                        v-loading.fullscreen.lock="fullscreenLoading">Editar</button>
                                    </div>
                                </div>
                                
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>

        </div>
      </div>

      <div class="modal fade" :class="{ show: modalShow }" :style="modalShow ? mostrarModal : ocultarModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">titulo</h5>
                    <button class="close" @click="abrirModal"></button>
                </div>
                <div class="modal-body">
                    <div class="callout callout-danger" style="padding: 5px;" v-for="(item, index) in mensajeError" :key="index" v-text="item"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @click="abrirModal">Cerrar</button>
                </div>
            </div>
        </div>
      </div>

    </div>
</template>

<script>
    export default {
        data(){
        return{
          fillEditarUsuario: {
            nIdUsuario: this.$attrs.id,
            cPrimerNombre: '',
            cSegundoNombre: '',
            cUsuario: '',
            cCorreo: '',
            cApellido: '',
            cContrasena: '',
            oFotografia: ''
          },
          fillVerUsuario: {
            nIdUsuario: this.$attrs.id,
            cPrimerNombre: '',
            cSegundoNombre: '',
            cUsuario: '',
            cCorreo: '',
            cApellido: '',
            cContrasena: '',
            oFotografia: '',
            cRutaArchivo: ''
          },
          form: new FormData,
          fullscreenLoading: false,
          modalShow: false,
          mostrarModal: {
            display: 'block',
            background: '#0000006b'
          },
          ocultarModal: {
            display: 'none'
          },
          error: 0,
          mensajeError: [],
        }
      },
      mounted(){
        this.getUsuarioById();
      },
      computed: {
        cGetNombreCompleto(){
            return this.fillVerUsuario.cPrimerNombre + ' ' + this.fillVerUsuario.cSegundoNombre + ' ' + this.fillVerUsuario.cApellido;
        }
      },
      methods: {
        getUsuarioById(){
            this.fullscreenLoading = true;
            const url = '/administracion/usuario/getListarUsuarios';
            axios.get(url, {
                params: {
                    'nIdUsuario': this.fillEditarUsuario.nIdUsuario,
                    'cNombre': '',
                    'cUsuario': '',
                    'cCorreo': '',
                    'cEstado': '',
                }
            }).then(response => {
                this.getUsuarioEditar(response.data[0]);
                this.getUsuarioVer(response.data[0]);
                this.fullscreenLoading = false;
            })
        },
        getUsuarioEditar(data){
                this.fillEditarUsuario.cPrimerNombre = data.firstname;
                this.fillEditarUsuario.cSegundoNombre = data.secondname;
                this.fillEditarUsuario.cApellido = data.lastname;
                this.fillEditarUsuario.cUsuario = data.username;
                this.fillEditarUsuario.cCorreo = data.email;
        },
        getUsuarioVer(data){
                this.fillVerUsuario.cPrimerNombre = data.firstname;
                this.fillVerUsuario.cSegundoNombre = data.secondname;
                this.fillVerUsuario.cApellido = data.lastname;
                this.fillVerUsuario.cUsuario = data.username;
                this.fillVerUsuario.cCorreo = data.email;
                this.fillVerUsuario.cRutaArchivo = data.profile_image;
        },
        abrirModal(){
            this.modalShow = !this.modalShow;
        },
        getFile(e){
            this.fillEditarUsuario.oFotografia = e.target.files[0];
        },
        setEditarUsuario(){
            if(this.validarRegistroUsuario()){
                this.modalShow = true;
                return;
            }
            this.fullscreenLoading = true;
            if(!this.fillEditarUsuario.oFotografia || this.fillEditarUsuario.oFotografia == undefined){
              this.setGuardarUsuario(1);
            }else{
              this.setRegistrarArchivo();
            }
        },
        setRegistrarArchivo(){
          this.form.append('file', this.fillEditarUsuario.oFotografia);
          const config = { headers: { 'Content-Type': 'multipart/form-data' }};
          const url = '/archivo/setRegistrarArchivo';
          axios.post(url, this.form, config).then( response => {
            const nIdFile = response.data[0].nIdFile;
            this.setGuardarUsuario(nIdFile);
          })
        },
        setGuardarUsuario(nIdfile){
          const url = '/administracion/usuario/setEditarUsuario';
          axios.post(url, {
            'nIdUsuario': this.fillEditarUsuario.nIdUsuario,
            'cPrimerNombre': this.fillEditarUsuario.cPrimerNombre,
            'cSegundoNombre': this.fillEditarUsuario.cSegundoNombre,
            'cApellido': this.fillEditarUsuario.cApellido,
            'cUsuario': this.fillEditarUsuario.cUsuario,
            'cCorreo': this.fillEditarUsuario.cCorreo,
            'cContrasena': this.fillEditarUsuario.cContrasena,
            'oFotografia': nIdfile,
          }).then( response => {
            this.fullscreenLoading = false;
            this.getUsuarioById();
            Swal.fire({
                icon: 'success',
                title: 'Se actualizó el usuario correctamente',
                showConfirmButton: false,
                timer: 1500
            })
          })
        },
        validarRegistroUsuario(){
            this.error = 0;
            this.mensajeError = [];
            if(!this.fillEditarUsuario.cPrimerNombre){
                this.mensajeError.push('El primer nombre es un campo obligatorio!')
            }
            if(!this.fillEditarUsuario.cApellido){
                this.mensajeError.push('El apellido es un campo obligatorio!')
            }
            if(!this.fillEditarUsuario.cUsuario){
                this.mensajeError.push('El usuario es un campo obligatorio!')
            }
            if(!this.fillEditarUsuario.cCorreo){
                this.mensajeError.push('El correo es un campo obligatorio!')
            }
            if(this.mensajeError.length){
                this.error = 1;
            }
            return this.error;
        },
      }
    }
</script>

<style>
 .position-reverse{
    flex-direction: row-reverse !important;
 }
 .img-max-height{
    max-height: 100px !important;
 }
</style>